@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
}

button, input {
  outline: none;
  border: none;
}



a {
  display: block;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.container-L {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-S {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

// color
$text-color: #000000;
$desc-color: #666666;
$blue-color: #277cfb;
$white-color: #ffffff;

// responsive
$mobile-width: 426px;
@mixin mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}

@mixin cus($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// style-scroll
@mixin scroll() {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    overflow-y: overlay;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    overflow-y: overlay;
  }
}

@mixin scrollHidden() {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    overflow-y: overlay;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    overflow-y: overlay;
  }
} ;
